<header class="xjzl-header">
    <img class="char-portrait" src="{{document.img}}" data-edit="img" style="flex: 0 0 64px; height: 64px;"/>
    
    <div class="xjzl-flex-col xjzl-grow">
        <input type="text" name="name" value="{{document.name}}" class="xjzl-input" style="font-size: 1.5em; text-align: left; width: 100%;"/>
        
        <div class="xjzl-grid-3">
            <div class="xjzl-flex-col" style="gap: 2px;">
                <label>{{localize "XJZL.Equipment.Price"}}</label>
                <input type="number" name="system.price" value="{{system.price}}" class="xjzl-input"/>
            </div>
            <div class="xjzl-flex-col" style="gap: 2px;">
                <label>{{localize "XJZL.Equipment.Quantity"}}</label>
                <input type="number" name="system.quantity" value="{{system.quantity}}" class="xjzl-input"/>
            </div>
            <div class="xjzl-flex-col" style="gap: 2px;">
                <label>{{localize "XJZL.Equipment.Equipped"}}</label>
                {{!-- 装备状态通常由角色卡控制，但在物品卡里看一看也无妨 --}}
                <div style="text-align:center; padding-top:5px;">
                    {{#if system.equipped}}
                        <i class="fas fa-check-circle" style="color:var(--xjzl-jade);"></i>
                    {{else}}
                        <i class="fas fa-circle" style="color:#ccc;"></i>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</header>