{{!-- templates/actor/character/header.hbs --}}
<header class="xjzl-header">
  {{!-- 左侧：头像 --}}
  <img class="char-portrait" src="{{document.img}}" data-edit="img" title="{{document.name}}" />

  {{!-- 中间：身份信息 --}}
  <div class="header-identity xjzl-flex-col">

    {{!-- 姓名 --}}
    <div class="identity-row">
      <label>{{localize "XJZL.Info.Name"}}</label>
      <input type="text" name="name" value="{{document.name}}" placeholder="输入姓名" class="xjzl-input name-input" />
    </div>

    {{!-- 称号 --}}
    <div class="identity-row">
      <label>{{localize "XJZL.Info.Title"}}</label>
      <input type="text" name="system.info.title" value="{{system.info.title}}" placeholder="输入江湖称号"
        class="xjzl-input title-input" />
    </div>

    {{!-- 门派 --}}
    <div class="identity-row">
      <label>{{localize "XJZL.Info.Sect"}}</label>
      <input type="text" name="system.info.sect" value="{{system.info.sect}}" placeholder="无门无派" class="xjzl-input" />
    </div>

    <div class="identity-row split-row">
      {{!-- 左半：背景 --}}
      <div class="identity-half">
        <label>{{localize "XJZL.Background.Label"}}</label>
        {{!-- 添加了 header-slot-box 类名 --}}
        <div class="item-placeholder-box header-slot-box">
          {{#if backgroundItem}}
          <a class="content-link" data-action="editItem" data-item-id="{{backgroundItem.id}}">
            <i class="fas fa-history"></i> {{backgroundItem.name}}
          </a>
          <a class="delete-link" data-action="deleteItem" data-item-id="{{backgroundItem.id}}" title="移除背景">
            <i class="fas fa-times"></i>
          </a>
          {{else}}
          <span class="placeholder-text">拖入背景</span>
          {{/if}}
        </div>
      </div>

      {{!-- 右半：性格 --}}
      <div class="identity-half">
        <label>{{localize "XJZL.Personality.Label"}}</label>
        {{!-- 【关键】添加了 header-slot-box 类名 --}}
        <div class="item-placeholder-box header-slot-box">
          {{#if personalityItem}}
          <a class="content-link" data-action="editItem" data-item-id="{{personalityItem.id}}">
            <i class="fas fa-theater-masks"></i> {{personalityItem.name}}
          </a>
          <a class="delete-link" data-action="deleteItem" data-item-id="{{personalityItem.id}}" title="移除性格">
            <i class="fas fa-times"></i>
          </a>
          {{else}}
          <span class="placeholder-text">拖入性格</span>
          {{/if}}
        </div>
      </div>
    </div>

    {{!-- 按钮组：使用 action-row 控制高度 --}}
    <div class="action-row">
      <button type="button" class="roll-basic-attack-btn" data-action="rollBasicAttack">
        <i class="fas fa-fist-raised"></i> <span>普通攻击</span>
      </button>
      <button type="button" class="roll-opportunity-attack-btn" data-action="rollOpportunityAttack" title="趁虚而入">
        <i class="fas fa-bolt"></i> <span>趁虚</span>
      </button>
    </div>

  </div>

  {{!-- 右侧：核心资源 (保持不变) --}}
  <div class="header-resources xjzl-flex-col">
    {{!-- ...资源部分保持原样... --}}
    <div class="resource-row">
      <label>{{localize "XJZL.Resources.HP"}}</label>
      <div class="resource-inputs">
        <input type="number" name="system.resources.hp.value" value="{{system.resources.hp.value}}" class="xjzl-input"
          title="当前气血" />
        <span class="sep">/</span>
        <span class="max">{{system.resources.hp.max}}</span>
      </div>
    </div>
    <div class="resource-bar-bg">
      <div class="resource-bar-fill hp" style="width: {{percents.hp}}%"></div>
    </div>

    <div class="resource-row">
      <label>{{localize "XJZL.Resources.MP"}}</label>
      <div class="resource-inputs">
        <input type="number" name="system.resources.mp.value" value="{{system.resources.mp.value}}" class="xjzl-input"
          title="当前内力" />
        <span class="sep">/</span>
        <span class="max">{{system.resources.mp.max}}</span>
      </div>
    </div>
    <div class="resource-bar-bg">
      <div class="resource-bar-fill mp" style="width: {{percents.mp}}%"></div>
    </div>

    <div class="resource-row">
      <label>{{localize "XJZL.Resources.Rage"}}</label>
      <div class="resource-inputs">
        <input type="number" name="system.resources.rage.value" value="{{system.resources.rage.value}}"
          class="xjzl-input" />
        <span class="sep">/</span>
        <span class="max">{{system.resources.rage.max}}</span>
      </div>
    </div>
    <div class="resource-bar-bg">
      <div class="resource-bar-fill rage"
        style="width: {{calculatePercentage system.resources.rage.value 10}}%; background: var(--xjzl-gold);"></div>
    </div>
  </div>
</header>