{{!-- templates/actor/character/header.hbs --}}
<header class="xjzl-header">
  {{!-- 左侧：头像 --}}
  <img class="char-portrait" src="{{document.img}}" data-edit="img" title="{{document.name}}" />

  {{!-- 中间：身份信息 --}}
  <div class="header-identity xjzl-flex-col">
    <div class="identity-row">
      <label>{{localize "XJZL.Info.Name"}}</label>
      <input type="text" name="name" value="{{document.name}}" placeholder="输入姓名" class="xjzl-input name-input" />
    </div>

    <div class="identity-row">
      <label>{{localize "XJZL.Info.Title"}}</label>
      <input type="text" name="system.info.title" value="{{system.info.title}}" placeholder="输入江湖称号"
        class="xjzl-input title-input" />
    </div>

    <div class="identity-row">
      <label>{{localize "XJZL.Info.Sect"}}</label>
      <input type="text" name="system.info.sect" value="{{system.info.sect}}" placeholder="无门无派" class="xjzl-input" />
    </div>

    {{!-- 普通攻击按钮 --}}
    {{!-- 放在身份信息的最下方，作为核心行动按钮 --}}
    <button type="button" class="roll-basic-attack-btn" data-action="rollBasicAttack">
      <i class="fas fa-fist-raised"></i> <span>普通攻击</span>
    </button>
  </div>

  {{!-- 右侧：核心资源 (HP/MP/Rage) --}}
  <div class="header-resources xjzl-flex-col">

    {{!-- HP --}}
    <div class="resource-row">
      <label>{{localize "XJZL.Resources.HP"}}</label>
      <div class="resource-inputs">
        <input type="number" name="system.resources.hp.value" value="{{system.resources.hp.value}}" class="xjzl-input"
          title="当前气血" />
        <span class="sep">/</span>
        <span class="max">{{system.resources.hp.max}}</span>
      </div>
    </div>
    <div class="resource-bar-bg">
      <div class="resource-bar-fill hp" style="width: {{percents.hp}}%"></div>
    </div>

    {{!-- MP --}}
    <div class="resource-row">
      <label>{{localize "XJZL.Resources.MP"}}</label>
      <div class="resource-inputs">
        <input type="number" name="system.resources.mp.value" value="{{system.resources.mp.value}}" class="xjzl-input"
          title="当前内力" />
        <span class="sep">/</span>
        <span class="max">{{system.resources.mp.max}}</span>
      </div>
    </div>
    <div class="resource-bar-bg">
      <div class="resource-bar-fill mp" style="width: {{percents.mp}}%"></div>
    </div>

    {{!-- Rage (怒气) --}}
    <div class="resource-row">
      <label>{{localize "XJZL.Resources.Rage"}}</label>
      <div class="resource-inputs">
        <input type="number" name="system.resources.rage.value" value="{{system.resources.rage.value}}"
          class="xjzl-input" />
        <span class="sep">/</span>
        <span class="max">{{system.resources.rage.max}}</span>
      </div>
    </div>
    <!-- 怒气条 (金色) -->
    <div class="resource-bar-bg">
      <div class="resource-bar-fill rage"
        style="width: {{calculatePercentage system.resources.rage.value 10}}%; background: var(--xjzl-gold);"></div>
    </div>

  </div>
</header>