<section class="tab scroll-area {{#if (eq tabs.primary 'combat')}}active{{/if}}" 
         data-tab="combat" 
         data-group="primary">

    <div class="xjzl-grid-2">
        {{!-- 基础战斗 --}}
        <div class="xjzl-card">
            <div class="xjzl-card-header">{{localize "XJZL.Combat.Label"}}</div> {{!-- 战斗面板 --}}
            <div class="xjzl-grid-2">
                <div style="justify-content: space-between;">
                    <label>{{localize "XJZL.Combat.Block"}}</label> {{!-- 格挡 --}}
                    <b>{{system.combat.blockTotal}}</b>
                </div>
                <div style="justify-content: space-between;">
                    <label>{{localize "XJZL.Combat.Kanpo"}}</label> {{!-- 看破 --}}
                    <b>{{system.combat.kanpoTotal}}</b>
                </div>
                <div style="justify-content: space-between;">
                    <label>{{localize "XJZL.Combat.Speed"}}</label> {{!-- 速度 --}}
                    <b>{{system.combat.speedTotal}}</b>
                </div>
                <div style="justify-content: space-between;">
                    <label>{{localize "XJZL.Combat.Dodge"}}</label> {{!-- 闪避 --}}
                    <b>{{system.combat.dodgeTotal}}</b>
                </div>
            </div>
        </div>

        {{!-- 攻防修正 --}}
        <div class="xjzl-card">
             <div class="xjzl-card-header">{{localize "XJZL.Combat.Damages"}}</div> {{!-- 这里暂借伤害/修正的标题 --}}
             <div class="xjzl-grid-2">
                <div style="justify-content: space-between;">
                    <label>{{localize "XJZL.Combat.DefWaigong"}}</label>
                    <b>{{system.combat.defWaigongTotal}}</b>
                </div>
                <div style="justify-content: space-between;">
                    <label>{{localize "XJZL.Combat.DefNeigong"}}</label>
                    <b>{{system.combat.defNeigongTotal}}</b>
                </div>
                <div style="justify-content: space-between;">
                    <label>{{localize "XJZL.Combat.HitWaigong"}}</label>
                    <b>{{system.combat.hitWaigongTotal}}</b>
                </div>
                <div style="justify-content: space-between;">
                    <label>{{localize "XJZL.Combat.HitNeigong"}}</label>
                    <b>{{system.combat.hitNeigongTotal}}</b>
                </div>
                <div style="justify-content: space-between;">
                    <label>{{localize "XJZL.Combat.CritWaigong"}}</label>
                    <b>{{system.combat.critWaigongTotal}}</b>
                </div>
                <div style="justify-content: space-between;">
                    <label>{{localize "XJZL.Combat.CritNeigong"}}</label>
                    <b>{{system.combat.critNeigongTotal}}</b>
                </div>
             </div>
        </div>
        
        {{!-- 伤害修正 --}}
        <div class="xjzl-card">
            <div class="xjzl-card-header">{{localize "XJZL.Combat.Dmg.Global"}}</div> {{!-- 伤害 --}}
            <div class="xjzl-grid-2">
                <div style="justify-content: space-between;">
                    <label>{{localize "XJZL.Combat.Dmg.Skill"}}</label>
                    <b>{{system.combat.damages.skill.total}}</b>
                </div>
                <div style="justify-content: space-between;">
                    <label>{{localize "XJZL.Combat.Dmg.Yang"}}</label>
                    <b>{{system.combat.damages.yang.total}}</b>
                </div>
                <div style="justify-content: space-between;">
                    <label>{{localize "XJZL.Combat.Dmg.Yin"}}</label>
                    <b>{{system.combat.damages.yin.total}}</b>
                </div>
                <div style="justify-content: space-between;">
                    <label>{{localize "XJZL.Combat.Dmg.Gang"}}</label>
                    <b>{{system.combat.damages.gang.total}}</b>
                </div>
                <div style="justify-content: space-between;">
                    <label>{{localize "XJZL.Combat.Dmg.Rou"}}</label>
                    <b>{{system.combat.damages.rou.total}}</b>
                </div>
            </div>
        </div>
        {{!-- 消耗减少 --}}
        <div class="xjzl-card">
            <div class="xjzl-card-header">{{localize "XJZL.Combat.ReduceCost"}}</div> {{!-- 伤害 --}}
            <div class="xjzl-grid-2">
                <div style="justify-content: space-between;">
                    <label>{{localize "XJZL.Combat.Cost.Neili"}}</label>
                    <b>{{system.combat.costs.neili.total}}</b>
                </div>
                <div style="justify-content: space-between;">
                    <label>{{localize "XJZL.Combat.Cost.Rage"}}</label>
                    <b>{{system.combat.costs.rage.total}}</b>
                </div>
            </div>
        </div>
    </div>
</section>