<section class="tab scroll-area {{#if (eq tabs.primary 'combat')}}active{{/if}}" 
         data-tab="combat" 
         data-group="primary">

    <div class="xjzl-grid-2">
        <div class="xjzl-card">
            <div class="xjzl-card-header">基础战斗</div>
            <div class="xjzl-grid-2">
                <label>格挡: {{system.combat.blockTotal}}</label>
                <label>看破: {{system.combat.kanpoTotal}}</label>
                <label>速度: {{system.combat.speedTotal}}</label>
                <label>闪避: {{system.combat.dodgeTotal}}</label>
            </div>
        </div>
        <div class="xjzl-card">
            <div class="xjzl-card-header">攻防修正</div>
            <div class="xjzl-grid-2">
                <label>外防: {{system.combat.defWaigongTotal}}</label>
                <label>内防: {{system.combat.defNeigongTotal}}</label>
                <label>外命: {{system.combat.hitWaigongTotal}}</label>
                <label>内命: {{system.combat.hitNeigongTotal}}</label>
                <label>外暴: {{system.combat.critWaigongTotal}}</label>
                <label>内暴: {{system.combat.critNeigongTotal}}</label>
            </div>
        </div>
        <div class="xjzl-card">
            <div class="xjzl-card-header">伤害修正</div>
            <div class="xjzl-grid-2">
                <label>招式: {{system.combat.damages.skill.total}}</label>
                <label>阳伤: {{system.combat.damages.yang.total}}</label>
                <label>阴伤: {{system.combat.damages.yin.total}}</label>
                <label>刚伤: {{system.combat.damages.gang.total}}</label>
                <label>柔伤: {{system.combat.damages.rou.total}}</label>
            </div>
        </div>
    </div>
</section>