<nav class="xjzl-tabs tabs">
  {{!-- ... 属性 ... --}}
  <a class="xjzl-tab-item {{#if (eq tabs.primary 'stats')}}active{{/if}}" 
     data-action="tab" data-group="primary" data-tab="stats">{{localize "XJZL.Stats.Label"}}</a>
  
  {{!-- 行囊 --}}
  <a class="xjzl-tab-item {{#if (eq tabs.primary 'inventory')}}active{{/if}}" 
     data-action="tab" data-group="primary" data-tab="inventory">{{localize "XJZL.Inventory.Label"}}</a>
  
  {{!-- ... 技艺 ... --}}
  <a class="xjzl-tab-item {{#if (eq tabs.primary 'skills')}}active{{/if}}" 
     data-action="tab" data-group="primary" data-tab="skills">{{localize "XJZL.Skills.Label"}}</a>
     
  {{!-- ... 经脉 ... --}}
  <a class="xjzl-tab-item {{#if (eq tabs.primary 'jingmai')}}active{{/if}}" 
     data-action="tab" data-group="primary" data-tab="jingmai">{{localize "XJZL.Jingmai.Label"}}</a>

  {{!-- ... 修为 ... --}}
  <a class="xjzl-tab-item {{#if (eq tabs.primary 'cultivation')}}active{{/if}}" 
     data-action="tab" data-group="primary" data-tab="cultivation">{{localize "XJZL.Cultivation.Label"}}</a>
  
  {{!-- ... 战斗 ... --}}
  <a class="xjzl-tab-item {{#if (eq tabs.primary 'combat')}}active{{/if}}" 
     data-action="tab" data-group="primary" data-tab="combat">{{localize "XJZL.Combat.Label"}}</a>
</nav>