<section class="tab xjzl-body xjzl-body-scroll {{#if (eq tabs.primary 'details')}}active{{/if}}" data-tab="details"
    data-group="primary" data-application-part="details">

    <div class="xjzl-bg-deco">故</div>

    <div class="xjzl-section-header">
        <span><i class="fas fa-scroll"></i> {{localize "XJZL.Background.DescHeader"}}</span>
    </div>

    <prose-mirror name="system.description" data-document-u-u-i-d="{{document.uuid}}" value="{{system.description}}">
        {{{system.description}}}
    </prose-mirror>

    <div class="xjzl-section-header" style="margin-top: 30px;">
        <span><i class="fas fa-suitcase"></i> {{localize "XJZL.Background.AssetsHeader"}}</span>
    </div>

    <div class="xjzl-info-box">
        <textarea name="system.assets">{{system.assets}}</textarea>
    </div>
</section>