<div class="xjzl-sidebar-content">
    <div class="xjzl-cb-search-box">
        <i class="fas fa-search"></i>
        <input type="text" name="search" value="{{searchQuery}}" placeholder="搜索名称..." autocomplete="off">
        {{#if searchQuery}}
        <a data-action="resetFilters" title="清除"><i class="fas fa-times"></i></a>
        {{/if}}
    </div>

    <div class="xjzl-cb-filter-header">
        <span><i class="fas fa-filter"></i> 筛选</span>
        <a class="reset-link" data-action="resetFilters">重置</a>
    </div>

    <div class="xjzl-cb-filters-list">
        {{#each filterList}}
        <div class="filter-group">
            <div class="filter-title">{{this.label}}</div>
            <div class="filter-options">
                {{#each this.options}}
                <label class="checkbox-label {{#if this.checked}}checked{{/if}}">
                    <input type="checkbox" class="xjzl-filter-checkbox" data-filter="{{../key}}" value="{{this.val}}"
                        {{checked this.checked}}>
                    {{this.label}}
                </label>
                {{/each}}
            </div>
        </div>
        {{else}}
        <p class="no-filters">当前分类无高级筛选</p>
        {{/each}}
    </div>

    <div class="xjzl-cb-sidebar-footer">
        <button type="button" class="random-btn" data-action="randomize">
            <i class="fas fa-dice-d20"></i> 随机抽取
        </button>
    </div>
</div>