<aside class="xjzl-sidebar" data-application-part="header">
    <div class="portrait-wrapper" data-action="editImage" title="{{localize 'XJZL.UI.EditImage'}}">
        <img src="{{document.img}}">
    </div>

    <div class="xjzl-sidebar__content">
        <div class="xjzl-ink-field" style="border:none; padding:0; background:transparent; margin-bottom: 20px;">
            <input type="text" name="name" value="{{document.name}}"
                style="font-family: var(--font-title); font-size: 28px; text-align: center; border-bottom: 2px solid var(--c-theme-main) !important;"
                placeholder="{{localize 'XJZL.Personality.NamePlaceholder'}}">
        </div>

        {{#if isGM}}
        <button type="button" class="gm-toggle-btn {{#if isEditing}}active{{/if}}" data-action="toggleEditing">
            <i class="fas fa-cog"></i>
            {{#if isEditing}}
            {{localize "XJZL.Personality.ConfigBtnExit"}}
            {{else}}
            {{localize "XJZL.Personality.ConfigBtnOptions"}}
            {{/if}}
        </button>
        {{/if}}
    </div>
</aside>