<div class="xjzl-chat-card request-card">
    <header class="card-header" style="border-left: 4px solid #483d8b;">
        <img src="{{targetImg}}" />
        <div>
            <h3 style="color: #483d8b;">{{localize "XJZL.UI.Chat.RequestDefense.Title"}}</h3>
            <div style="font-size: 0.8em; color: #555;">{{localize "XJZL.UI.Chat.RequestDefense.Subtitle"}} -
                {{targetName}}</div>
        </div>
    </header>

    <div class="card-content-wrapper">
        <div class="card-description">
            {{{localize "XJZL.UI.Chat.RequestDefense.Description" attacker=attackerName defender=targetName}}}
        </div>

        <div class="card-stats">
            <div class="stat-block">
                <div class="stat-label">{{localize "XJZL.UI.Chat.RequestDefense.FeintDC"}}</div>
                <div class="stat-value" style="color: #b22222;">{{attackTotal}}</div>
                <div style="font-size: 0.7em; color: #888;">1d20({{{rollTotal}}}) + {{feintVal}}</div>
            </div>
        </div>

        <div class="card-buttons">
            <button data-action="rollDefendFeint" data-target-uuid="{{targetUuid}}" data-attack-total="{{attackTotal}}"
                data-origin-msg-id="{{originMessageId}}" class="btn-check">
                <i class="fas fa-eye"></i> {{localize "XJZL.UI.Chat.RequestDefense.RollBtn"}}
            </button>
        </div>
    </div>
</div>