<header class="xjzl-header">
    <img class="char-portrait" src="{{document.img}}" data-edit="img" style="flex: 0 0 64px; height: 64px;"/>
    
    <div class="xjzl-flex-col xjzl-grow">
        <input type="text" name="name" value="{{document.name}}" class="xjzl-input" style="font-size: 1.5em; text-align: left; width: 100%;"/>
        
        <div class="xjzl-grid-2">
            <div class="xjzl-flex-col" style="gap: 2px;">
                <label>{{localize "XJZL.Neigong.Tier"}}</label>
                <select name="system.tier">
                    {{selectOptions tierChoices selected=system.tier}}
                </select>
            </div>
            
            <div class="xjzl-flex-col" style="gap: 2px;">
                <label>{{localize "XJZL.Neigong.Element"}}</label>
                <select name="system.element">
                    {{selectOptions elementChoices selected=system.element}}
                </select>
            </div>
        </div>
    </div>
</header>