<header class="xjzl-header">
    <img class="char-portrait" src="{{document.img}}" data-edit="img" style="flex: 0 0 64px; height: 64px;"/>
    <div class="xjzl-flex-col xjzl-grow">
        <input type="text" name="name" value="{{document.name}}" class="xjzl-input" style="font-size: 1.5em; text-align: left; width: 100%;"/>
        <div class="xjzl-grid-2">
            {{!-- 秘籍显示品阶，其他显示品质 --}}
            <div class="xjzl-flex-col" style="gap: 2px;">
                {{#if (eq document.type 'manual')}}
                    <label>{{localize "XJZL.Tiers.Label"}}</label>
                    <select name="system.tier" class="xjzl-input">
                        {{selectOptions @root.tierChoices selected=system.tier}}
                    </select>
                {{else}}
                    <label>{{localize "XJZL.Qualities.Label"}}</label>
                    <select name="system.quality" class="xjzl-input">
                        {{selectOptions @root.qualityChoices selected=system.quality}}
                    </select>
                {{/if}}
            </div>
            <div class="xjzl-flex-col" style="gap: 2px;">
                <label>{{localize "XJZL.Equipment.Price"}}</label>
                <input type="number" name="system.price" value="{{system.price}}" class="xjzl-input"/>
            </div>
            <div class="xjzl-flex-col" style="gap: 2px;">
                <label>{{localize "XJZL.Equipment.Quantity"}}</label>
                <input type="number" name="system.quantity" value="{{system.quantity}}" class="xjzl-input"/>
            </div>
        </div>
    </div>
</header>