<section class="tab scroll-area {{#if (eq tabs.primary 'effects')}}active{{/if}}" 
         data-tab="effects" data-group="primary">

    <div class="xjzl-flex-col">
        <p style="font-size:0.8em; color:#666;">在此配置消耗品附带的 Buff/Debuff (如：持续回血、中毒)。<br>使用物品时将自动应用到角色身上。</p>
        
        {{#each effects as |effect|}}
        <div class="xjzl-card xjzl-flex-row" style="align-items: center; padding: 5px;">
            <img src="{{effect.img}}" width="32" height="32" style="border:1px solid #000;"/>
            <div class="xjzl-flex-col xjzl-grow" style="gap:0;">
                <span style="font-weight:bold; {{#if effect.disabled}}color:#999; text-decoration:line-through;{{/if}}">{{effect.name}}</span>
            </div>
            <div class="xjzl-flex-row">
                <a data-action="toggleEffect" data-id="{{effect.id}}"><i class="fas {{#if effect.disabled}}fa-toggle-off{{else}}fa-toggle-on{{/if}}"></i></a>
                <a data-action="editEffect" data-id="{{effect.id}}"><i class="fas fa-edit"></i></a>
                <a data-action="deleteEffect" data-id="{{effect.id}}"><i class="fas fa-trash"></i></a>
            </div>
        </div>
        {{/each}}

        <button type="button" data-action="createEffect" style="margin-top:10px;">
            <i class="fas fa-plus"></i> 新建效果
        </button>
    </div>
</section>