{{!-- 
  Root Container
  使用 xjzl-rc-root 作为命名空间，防止样式污染
--}}
<div id="{{formId}}" class="xjzl-rc-root">
    
    {{!-- 1. 命中相关 --}}
    {{#if needsAttack}}
    <div class="xjzl-rc-row">
        <label class="xjzl-rc-label">{{localize "XJZL.UI.RollConfig.BonusAttack"}}</label>
        <input type="number" name="bonusAttack" value="0" placeholder="0" class="xjzl-rc-input-num" />
    </div>

    <div class="xjzl-rc-row">
        <div class="xjzl-rc-label-group">
            <label class="xjzl-rc-label">{{localize "XJZL.UI.RollConfig.AttackLevel"}}</label>
            <span class="xjzl-rc-hint">{{localize "XJZL.UI.RollConfig.LevelHint"}}</span>
        </div>
        
        <div class="xjzl-rc-counter">
            <button type="button" data-action="decrease" data-target="manualAttackLevel"><i class="fas fa-minus"></i></button>
            <input type="number" name="manualAttackLevel" value="0" readonly />
            <button type="button" data-action="increase" data-target="manualAttackLevel"><i class="fas fa-plus"></i></button>
        </div>
    </div>
    {{/if}}

    {{!-- 分割线 --}}
    {{#if (and needsAttack isFeint)}}<hr class="xjzl-rc-sep">{{/if}}

    {{!-- 2. 虚招相关 --}}
    {{#if isFeint}}
    <div class="xjzl-rc-row">
        <label class="xjzl-rc-label">{{localize "XJZL.UI.RollConfig.BonusFeint"}}</label>
        <input type="number" name="bonusFeint" value="0" placeholder="0" class="xjzl-rc-input-num" />
    </div>

    <div class="xjzl-rc-row">
        <div class="xjzl-rc-label-group">
            <label class="xjzl-rc-label">{{localize "XJZL.UI.RollConfig.FeintLevel"}}</label>
            <span class="xjzl-rc-hint">{{localize "XJZL.UI.RollConfig.LevelHint"}}</span>
        </div>
        
        <div class="xjzl-rc-counter">
            <button type="button" data-action="decrease" data-target="manualFeintLevel"><i class="fas fa-minus"></i></button>
            <input type="number" name="manualFeintLevel" value="0" readonly />
            <button type="button" data-action="increase" data-target="manualFeintLevel"><i class="fas fa-plus"></i></button>
        </div>
    </div>
    {{/if}}

    {{#if (and isFeint needsDamage)}}<hr class="xjzl-rc-sep">{{/if}}

    {{!-- 3. 伤害相关 --}}
    {{#if needsDamage}}
    <div class="xjzl-rc-row">
        <label class="xjzl-rc-label">{{localize "XJZL.UI.RollConfig.BonusDamage"}}</label>
        <input type="number" name="bonusDamage" value="0" placeholder="0" class="xjzl-rc-input-num" />
    </div>
    {{/if}}

    {{#if canCrit}}
    <div class="xjzl-rc-row xjzl-rc-checkbox-row">
        <label class="xjzl-rc-label">{{localize "XJZL.UI.RollConfig.CanCrit"}} <span class="xjzl-rc-hint">{{localize "XJZL.UI.RollConfig.CanCritHint"}}</span></label>
        <input type="checkbox" name="canCrit" checked class="xjzl-rc-checkbox" />
    </div>
    {{/if}}
</div>