{{!-- 
  Root Container
  使用 xjzl-rc-root 作为命名空间，防止样式污染
--}}
<div id="{{formId}}" class="xjzl-rc-root">
    
    {{!-- 0. 核心类型覆写 --}}
    <div class="xjzl-rc-row" style="margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px dashed #ccc;">
        <div style="flex: 1; margin-right: 5px;">
            <label class="xjzl-rc-label">招式类型</label>
            <select name="overrideMoveType" style="width: 100%;">
                {{selectOptions moveTypes selected=currentMoveType localize=true}}
            </select>
        </div>
        <div style="flex: 1; margin-left: 5px;">
            <label class="xjzl-rc-label">伤害类型</label>
            <select name="overrideDamageType" style="width: 100%;">
                {{selectOptions damageTypes selected=currentDamageType localize=true}}
            </select>
        </div>
    </div>

    {{!-- 1. 命中相关 (Wrapper) --}}
    <div data-section="attack" style="{{#unless needsAttack}}display:none;{{/unless}}">
        <div class="xjzl-rc-row">
            <label class="xjzl-rc-label">{{localize "XJZL.UI.RollConfig.BonusAttack"}}</label>
            <input type="number" name="bonusAttack" value="0" placeholder="0" class="xjzl-rc-input-num" />
        </div>

        <div class="xjzl-rc-row">
            <div class="xjzl-rc-label-group">
                <label class="xjzl-rc-label">{{localize "XJZL.UI.RollConfig.AttackLevel"}}</label>
                <span class="xjzl-rc-hint">{{localize "XJZL.UI.RollConfig.LevelHint"}}</span>
            </div>
            
            <div class="xjzl-rc-counter">
                <button type="button" data-action="decrease" data-target="manualAttackLevel"><i class="fas fa-minus"></i></button>
                <input type="number" name="manualAttackLevel" value="0" readonly />
                <button type="button" data-action="increase" data-target="manualAttackLevel"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <hr class="xjzl-rc-sep">
    </div>

    {{!-- 2. 虚招相关 (Wrapper) --}}
    <div data-section="feint" style="{{#unless isFeint}}display:none;{{/unless}}">
        <div class="xjzl-rc-row">
            <label class="xjzl-rc-label">{{localize "XJZL.UI.RollConfig.BonusFeint"}}</label>
            <input type="number" name="bonusFeint" value="0" placeholder="0" class="xjzl-rc-input-num" />
        </div>

        <div class="xjzl-rc-row">
            <div class="xjzl-rc-label-group">
                <label class="xjzl-rc-label">{{localize "XJZL.UI.RollConfig.FeintLevel"}}</label>
                <span class="xjzl-rc-hint">{{localize "XJZL.UI.RollConfig.LevelHint"}}</span>
            </div>
            
            <div class="xjzl-rc-counter">
                <button type="button" data-action="decrease" data-target="manualFeintLevel"><i class="fas fa-minus"></i></button>
                <input type="number" name="manualFeintLevel" value="0" readonly />
                <button type="button" data-action="increase" data-target="manualFeintLevel"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <hr class="xjzl-rc-sep">
    </div>

    {{!-- 3. 伤害相关 (Wrapper) --}}
    <div data-section="damage" style="{{#unless needsDamage}}display:none;{{/unless}}">
        <div class="xjzl-rc-row">
            <label class="xjzl-rc-label">{{localize "XJZL.UI.RollConfig.BonusDamage"}}</label>
            <input type="number" name="bonusDamage" value="0" placeholder="0" class="xjzl-rc-input-num" />
        </div>
    </div>

    {{!-- 4. 暴击选项 (Wrapper) --}}
    <div data-section="crit" class="xjzl-rc-row xjzl-rc-checkbox-row">
        <label class="xjzl-rc-label">{{localize "XJZL.UI.RollConfig.CanCrit"}}{{localize "XJZL.UI.RollConfig.CanCritHint"}}</label>
        <input type="checkbox" name="canCrit" {{checked canCrit}} class="xjzl-rc-checkbox" />
    </div>

    {{!-- 无消耗 & 濒死一击 --}}
    <div class="xjzl-rc-row xjzl-rc-checkbox-row">
        <label class="xjzl-rc-label">无消耗出招 <span class="xjzl-rc-hint">不消耗资源</span></label>
        <input type="checkbox" name="isFree" class="xjzl-rc-checkbox" />
    </div>

    <div class="xjzl-rc-row xjzl-rc-checkbox-row">
        <label class="xjzl-rc-label">濒死一击 <span class="xjzl-rc-hint">耗尽剩余内力转化伤害</span></label>
        <input type="checkbox" name="isDesperate" class="xjzl-rc-checkbox" />
    </div>
</div>